---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Sections/Navbar.astro';
import Hero from '../components/Sections/Hero.astro';
import About from '../components/Sections/About.astro';
import Services from '../components/Sections/Services.astro';
import Packs from '../components/Sections/Packs.astro';
import Contact from '../components/Sections/Contact.astro';
import Footer from '../components/Sections/Footer.astro';
---

<Layout title="ASHBEE">
	<Navbar />
	<main>
		<Hero />
		<About /> <Services />
		<Packs />
		<Contact />
	</main>
	<Footer />
</Layout>
